
header{
    width: 95vw;
    /* height: 20px; */
    text-align: center;
    /* background-color: red; */
    font-size: 35px;
    font-family: font title;
    color: rgb(83, 173, 201);
    padding-top: 10px;
    padding-bottom: 10px;
    /* margin: 0%; */
}

@media screen and (min-width:600px){
    header{
        text-align: start;
        padding-left: 30px;
        font-size: 65px;
        /* margin: 0; */
        /* width: 100vw; */
    }
}