*{
    margin: 0;
}
.img{
    width: 250px;
    border-radius: 5px;
}
.Detail{
    background-color: rgb(247, 247, 247);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:rgb(97, 97, 97);
}
.conteiner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:  rgba(83, 173, 201, 0.171);
    width: 300px;
    border-radius: 5px;
}
.caracteristicas{
    padding: 10px;

}
.Name{
    margin: 15px;
    
}

@media screen and (min-width:800px){
    .img{
        width: 350px;
    }
    .conteiner{
        width: 400px;
        font-size: 16px;
    }
    .Name{
        font-size: 25px;
    }
}